@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon pulsing animation for Add Special Day button */
.neon-pulse {
  border: 3px solid transparent;
  animation: neonPulse 2s infinite ease-in-out;
}

@keyframes neonPulse {
  0% {
    border-color: #1e3a8a; /* To'q ko'k */
    box-shadow: 0 0 5px #1e3a8a, 0 0 10px #1e3a8a, 0 0 15px #1e3a8a;
  }
  50% {
    border-color: #0284c7; /* To'q havorang */
    box-shadow: 0 0 10px #0284c7, 0 0 20px #0284c7, 0 0 30px #0284c7;
  }
  100% {
    border-color: #1e3a8a; /* To'q ko'k */
    box-shadow: 0 0 5px #1e3a8a, 0 0 10px #1e3a8a, 0 0 15px #1e3a8a;
  }
}
